---
import '../styles/main.css'
import '../CopyCodeButton/styles.css'
---

<html>
  <head>
    <script>
      import '../CopyCodeButton/copy-code-button.js'
      import '../CopyCodeButton/create-copy-buttons.js'
    </script>
  </head>

  <body>
    <main>
      <slot/>
    </main>
  </body>
</html>